@font-face {
    font-family: 'Quantify';
    src: url('../fonts/Quantify.ttf');
}

.blur-background {
    background-image: url('../img/coffee.jpg');
    /*filter: blur(1px);
    -webkit-filter: blur(1px);*/
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 10px;
    text-align: center;
    font-family: 'Quantify';
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.not-active {
    background-color: rgba(75,0,0,.1);
}

.full-date-input,
.full-date-input > div.react-datepicker-wrapper,
.full-date-input > div > div.react-datepicker__input-container
.full-date-input > div > div.react-datepicker__input-container input {
    width: 100%;
}

@media screen and (max-width: 540px) {
    .center-box {
        width: 90%;
    }
}